// colors
$blue-light: #e7f6ff;
$grey: #9d9d9d;
$grey-dark: #5c5c5c;
$black: #000;
$green-light: #9dd558;
$white: #fff;

// shadow and border
$boxShadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
$border: 1px solid #f3f3f3;

//radius
$borderRadius: 40px;
